@import "../../styles/styles.scss";
@include animation-fadeInY(fade-up1, 80px, 0px);
@include animation-fadeInY(fade-up2, 130px, 0px);
@include animation-fadeInY(fade-up3, 180px, 0px);

#services {
  margin-bottom: 10rem;
  & .services-part1 {
    margin-top: 8rem;
    margin-bottom: 8rem;
    & .gridCol-div {
      transition: $transition-props;

      @for $i from 1 through 3 {
        &:nth-of-type(3n + #{$i}) {
          animation: (fade-up#{$i}) 2s;
        }
      }
    }

    & .grid-box {
      text-align: center;

      & svg {
        @include icon-css;
      }
      & h4 {
        font-size: $h4-font-size;
      }
      & p {
        font-size: $text-font-size;
      }
    }

    & .grid-box:hover {
      transform: translateY(-30px);
    }
  }
}
