@import "../../styles/styles.scss";

#services {
  & .services-part1 {
    & .gridCol-div {
      transition: $transition-props;
    }

    & .gridCol-div:hover {
      transform: translateY(-30px);
    }

    & .grid-box {
      text-align: center;

      & svg {
        @include icon-css;
      }
      & h4 {
        font-size: $h4-font-size;
      }
      & p {
        font-size: $text-font-size;
      }
    }
  }

  & .services-part2 {
  }
}
