@import "../../styles/styles.scss";

.navbar {
  background: $bg-white-color;

  & .navbar-brand {
    @include transition-text;
    color: $text-color;

    &:hover {
      color: $text-hover-color;
    }
  }

  & .navbar-toggler {
    border: 0;
    font-size: $btn-font-size;
  }

  & .navbar-nav a {
    @include LinkTag();
    &:hover {
      color: $text-hover-color;
    }
  }
}
