@import "../../styles/styles.scss";
@include animation-fadeInY(fade-up1, 80px, 0px);
@include animation-fadeInY(fade-up2, 130px, 0px);
@include animation-fadeInY(fade-up3, 180px, 0px);
@include animation-fadeInX(fade-left, -100px, 0px);
@include animation-fadeInX(fade-right, 100px, 0px);

#aboutSection {
  & .content {
    & .left-col {
      animation: fade-left 2s;
    }

    & .right-col {
      animation: fade-right 2s;
      & h3 {
        font-weight: 500;
        line-height: 32px;
        font-size: 26px;
        margin-bottom: 1.25rem;
      }

      & p {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      & ul {
        & li {
          padding: 10px 0 0 28px;
          position: relative;

          & svg {
            @include icon-css;
            left: 0;
            bottom: 0;
            margin: 0;
            position: absolute;
            font-size: 20px;
          }
        }
      }
    }
  }

  & .secondPart {
    & .heading {
      & h2 {
        animation: fade-up1 2s;
      }
    }

    & .gridCol-div {
      transition: $transition-props;

      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: (fade-up#{$i}) 2s;
        }
      }
    }

    & .grid-box {
      // 因為整咝GridCol component ，所以唔洗要下邊嘅嘢
      // @include box-and-shadow();

      // &:hover {
      //   & h4,
      //   span,
      //   p {
      //     transform: translateY(-20px);
      //   }
      // }

      &:hover {
        transform: translateY(-30px);
      }

      & span,
      h4,
      p {
        @include transition-text();
      }

      & span {
        display: block;
        font-size: 28px;
        font-weight: 700;
        color: $num-color;
      }
      & h4 {
        font-size: $h4-font-size;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
        color: #191919;
      }
      & p {
        color: #aaaaaa;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
