@import "../../../styles/styles.scss";

form {
  & textarea {
    height: 300px;
  }

  & .btn {
    color: $text-color;
    width: 30%;

    &:hover {
      background-color: $swap-bg-color-to-red;
      color: $swap-text-color;
    }
  }

  & .btn-primary {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid $btn-color;
    &:hover {
      border: 2px solid $swap-text-color;
    }
  }
}
