@import "../../../styles/styles.scss";

form {
  & textarea {
    height: 300px;
  }

  & .btn,
  .loadingBtn {
    @include btnStyle;
  }

  & .btn-primary,
  .loadingBtn {
    @include btn-color-style;
    &:focus {
      outline: none;
      color: $bg-white-color;
      background-color: $swap-bg-color-to-red;
      border-color: $bg-white-color;
      box-shadow: none;
    }
  }
}
